<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Vue3-購物車練習</title>
  </head>

  <body>
    <div id="app">
      <div class="container h-100">
        <h1 class="text-center">Poke Ball Shop</h1>
        <h3 class="text-center mt-5" v-if="! itemSelected.name">
          請先選擇寶貝球
        </h3>
        <section class="product-area container row mt-5">
          <div
            class="card col text-center border-0 list-group"
            v-for="item in products"
            :key="item.name"
          >
            <a
              href="#"
              class="list-group-item list-group-item-action list-group-item-light"
              :class="{'active': itemSelected.name == item.name }"
              @click.prevent="selectProduct(item)"
            >
              <img
                :src="item.imgUrl"
                alt="product-img"
                class="rounded img-fluid mt-3"
              />
              <div class="info mt-3">
                <p>{{item.name}}</p>
                <p>$ {{item.price}}</p>
              </div>
            </a>
          </div>
        </section>
        <section class="select-area row">
          <!-- <div
            v-if="!itemSelected.name"
            class="position-absolute text-white d-flex align-items-center justify-content-center active"
            style="
              height: 335px;
              width: 1320px;
              background-color: rgba(125, 122, 122, 0.6);
              z-index: 100;
            "
          >
            請先選擇商品
          </div> -->
          <div class="selection-left mt-5 col-6">
            <div class="order-size">
              <label for="size" class="form-label d-block">尺寸 :</label>
              <div
                class="size form-check form-check-inline"
                v-for="(item,key) in size"
                :key="item+'key'"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  name="size"
                  :id="item"
                  :value="item"
                  v-model="itemSelected.size"
                  :disabled="!itemSelected.name"
                />
                <label class="form-check-label" :for="item">{{item}}</label>
              </div>
            </div>
            <div class="order-addon mt-5">
              <label for="addon" class="form-label d-block">加購道具 :</label>
              <div
                class="addon form-check form-check-inline"
                v-for="(item,key) in addOns"
                :key="item+'key'"
              >
                <input
                  type="checkbox"
                  class="form-check-input"
                  :id="item"
                  :value="item"
                  v-model="itemSelected.addon"
                  :disabled="!itemSelected.name"
                />
                <label :for="item" class="form-check-label">{{item}}</label>
              </div>
            </div>
          </div>
          <div class="selection-right col-6 mt-5">
            <div class="order-num">
              <label for="num" class="form-label d-block">數量 :</label>
              <input
                type="number"
                name="num"
                id="num"
                placeholder="需求數量"
                min="0"
                class="w-25"
                v-model="itemSelected.count"
                :disabled="!itemSelected.name"
              />
            </div>
            <div class="notice mt-3">
              <label for="notice" class="d-block">備註 :</label>
              <textarea
                class="form-control mt-3 w-75"
                id="notice"
                v-model="itemSelected.notice"
                :disabled="!itemSelected.name"
              ></textarea>
            </div>
          </div>
        </section>
        <div class="buttons d-flex mt-5 justify-content-end" style="bottom: 0">
          <button
            type="button"
            class="btn btn-outline-dark mx-5"
            @click="resetOrder"
            :disabled="!itemSelected.name"
          >
            取消
          </button>
          <button
            type="button"
            class="btn btn-outline-dark"
            @click="addToOrder(itemSelected)"
            :disabled="!itemSelected.name"
          >
            加入
          </button>
        </div>
        <section
          class="checkout-area row justify-content-center align-items-center mt-3 bg-light p-4"
        >
          <table class="table">
            <thead>
              <tr>
                <th>品項</th>
                <th>尺寸</th>
                <th>加購道具</th>
                <th>單價</th>
                <th>數量</th>
                <th>小計</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(order,key) in orderList" :key="'order'+key">
                <th scope="row">
                  {{order.name}} <br />
                  <small
                    class="text-muted fw-normal"
                    v-if="order.notice !== ''"
                  >
                    備註：{{order.notice}}
                  </small>
                </th>

                <td>{{order.size}}</td>
                <td>{{order.addon.join()}}</td>
                <td>{{order.price + order.addon.length*10}}</td>
                <td>{{order.count}}</td>
                <td>$ {{order.total}} 元</td>
              </tr>
            </tbody>
          </table>
          <p class="text-end mt-5">總計 $ {{orderTotal}}元</p>
          <button
            type="button"
            class="btn btn-outline-secondary w-25 mb-1"
            @click="resetAllOrder"
          >
            重新選擇
          </button>
        </section>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    <script src="script.js"></script>
  </body>
</html>
